<header id="header">
  <section>
    <h1>{{ site.title }}</h1>
    <summary>
      <p>The Luma Project is a multi-purpose campus in the Dominican Republic.</p>
      <p>Our mission is to advance education, technology adoption and innovations in the country and Latin America.</p>
    </summary>
  </section>
  <div id="player">
    <div id="playerShield"></div>
    <iframe id="playerFrame" frameborder="0" height="100%" width="100%"></iframe>
  </div>
  <script>
    var videoIDs = {{ site.videos | jsonify }};

    document.addEventListener("DOMContentLoaded", function(event) {
      var randomVideoIndex = Math.floor(Math.random()*videoIDs.length);
      var videoID = videoIDs[randomVideoIndex];
      var header = document.getElementById('header');
      var headerWidth = parseInt(window.getComputedStyle(header).width);
      var player = document.getElementById('player');
      player.style.height = (headerWidth / (16/9)) + "px";
      var playerFrame = document.getElementById('playerFrame');
      playerFrame.src = "https://youtube.com/embed/" + videoID + "?autoplay=1&loop=1&fs=0&controls=0&showinfo=0&autohide=1&modestbranding=1&rel=0&playlist=" + videoID;
    });
  </script>
</header>
