@import "../neat/neat-helpers";

// Neat Overrides
$column: 210px;
$gutter: 24px;
$grid-columns: 8;
$max-width: 1840px;

// Neat Breakpoints
$break: 1200px;

$medium-screen-up: new-breakpoint(max-width $break 4);
$large-screen-up: new-breakpoint(min-width $break 8);
